body { 
	font: 13px Helvetica, Arial; 
}

p {
	margin-top:0;
	margin-bottom:0
}

#chatWindow {
	position: fixed;
	width: 300px;
	height: 400px;
	background: #FFF;
	border: 1px #000 solid;
	right: 0;
	bottom: 10px;
}

#messages {
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) { 
	background: #eee; 
}

#m {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 200px;
	height: 25px;
}

#sendButton { 
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 20%; 
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
}
